.products-container{
    display: flex;
    justify-content: space-between;
    
}

.filters-open-button{
    display: none !important;
}


.filter-sidebar{
    position: normal;
    display: block;
    width: 300px;
    min-width: 200px;
    border-right: 1px solid lightgray;
    text-align: left;

    .filters-close-icon{
        display: none !important;
    }

    .block{
        border: 1px solid rgb(80,80,80);
        display: inline-block;
        vertical-align: middle;      
        margin: 0 10px 10px 0;
        text-align: center;
        padding: 10px 15px;

        a{
            color: rgb(80,80,80);
            font-size: 14px;
            padding: 0;
            margin: 0;
        }
    }
    h1{
        margin: 0;
        padding: 0;
        font-size: 28px;
        font-weight: 800;
        color: rgb(80,80,80);
        margin-bottom: 20px;
    }

}

.products-wrapper{
    padding: 0 10px;
    width: 800px;
}

.form-group-heading{
    font-size: 20px;
    font-weight: 800;
    color: rgb(80,80,80);
    margin-bottom: 15px;
}

.form-group{

    .parent-category{
        border: none;
        background: none;
        text-transform: uppercase;
        color: rgb(80,80,80);
        font-weight: 700;
        margin-bottom: 10px;

        &:hover{
            cursor: pointer;
            text-decoration: underline;
            color: black;
        }
    }

    .input-label{
        display: block;

        label{
            font-size: 14px;
            font-weight: 300px;
            text-transform: capitalize;
            color: rgb(80,80,80);
            user-select: none;

            &:hover{
                color: black;
            }
        }

        label, input{
            &:hover{
                cursor: pointer;
            }
        }
    }

    .subcategory{
        margin-left: 15px;
    }

}

@media (max-width: 768px){
    .filters-open-button{
        display: block !important;
        background: white;
        color: rgb(80,80,80);
        border-radius: 20px;
        padding: 6px 12px;
        border: 1px solid rgb(80,80,80);
        position: absolute;
        top: 150px;
        font-weight: 700;
        text-transform: uppercase;
        font-size: 14px;
    }

    .filter-sidebar{
        position: absolute;
        min-width: 0;
        width: 0px !important;
        top: 131px;
        left: 0;
        bottom: 0;
        background: white;
        z-index: 100;
        transition: 0.3s;
        overflow-x: hidden;

        .filters-form, .filters-heading{
            margin: 20px;
        }

        .filters-close-icon{
            display: none;
            width: 25px;
            height: 25px;
            position: absolute;
            top: 25px;
            left: 195px;
            z-index: 101;

            &:hover{
                cursor: pointer;
            }
        }
    }

    .opened{
        width: 250px !important;

        .filters-close-icon{
            display: block !important;
        }
    }
}
