.filters-open-button{
    display: none !important;
}

.filter-sidebar{
    position: normal;
    max-width: 300px;
    width: 100%;
    text-align: left;
    padding-left: 20px;
    margin-right: 10px;
    border: 1px solid red;

    .filters-close-icon{
        display: none !important;
    }

    .block{
        border: 1px solid rgb(80,80,80);
        display: inline-block;
        vertical-align: middle;      
        margin: 0 10px 10px 0;
        text-align: center;
        padding: 10px 15px;

        a{
            color: rgb(80,80,80);
            font-size: 14px;
            padding: 0;
            margin: 0;
        }
    }

    h1{
        margin: 0;
        padding: 0;
        font-size: 28px;
        font-weight: 800;
        color: rgb(80,80,80);
        margin-bottom: 20px;
    }

}


.filters-form{
    .form-section{
        margin-bottom: 15px;

        .form-group-heading{
            font-size: 16px;
            text-transform: uppercase;
            font-weight: 800;
            position: relative;

            .arrow{
                border: solid rgb(80,80,80);
                border-width: 0 3px 3px 0;
                padding: 3px;
                position: absolute;
                right: 10px;
                top: 5px;
            }

            .down {
                transform: rotate(45deg);
                -webkit-transform: rotate(45deg);
              }
        
            &:hover{
                cursor: pointer;
            }
        }

        .form-group{
            margin-top: 10px;

        
            .parent-category{
                border: none;
                background: none;
                text-transform: uppercase;
                font-weight: 700;
                margin-bottom: 5px;
        
                &:hover{
                    cursor: pointer;
                    text-decoration: underline;
                    color: black;
                }
            }
        
            .input-label{
                display: flex;
                justify-content: flex-start;
                align-content: center;
                gap: 5px;

                label{
                    font-size: 14px;
                    font-weight: 300px;
                    text-transform: capitalize;
                    user-select: none;
        
                    &:hover{
                        color: black;
                    }
                }
        
                label, input{
                    &:hover{
                        cursor: pointer;
                    }
                }
            }
        
        }
    }

    #filter-submit{
        border: none;
        font-size: 15px;
        color: white;
        background: #0b69b1;
        padding: 7px 12px;
        border-radius: 5px;
    }

}



@media (max-width: 768px){
    .filters-open-button{
        display: block !important;
        background: white;
        color: rgb(80,80,80);
        border-radius: 20px;
        padding: 6px 12px;
        border: 1px solid rgb(80,80,80);
        position: absolute;
        top: 210px;
        left: 30px;
        font-weight: 700;
        text-transform: uppercase;
        font-size: 14px;
    }

    .filter-sidebar{
        position: absolute;
        min-width: 0;
        width: 0px !important;
        top: 131px;
        left: 0;
        bottom: 0;
        background: white;
        z-index: 100;
        transition: 0.3s;
        overflow-x: hidden;
        padding-left: 0 !important;

        .filters-form, .filters-heading{
            margin: 20px;
        }

        .filters-close-icon{
            display: none;
            width: 25px;
            height: 25px;
            position: absolute;
            top: 25px;
            left: 195px;
            z-index: 101;

            &:hover{
                cursor: pointer;
            }
        }
    }

    .opened{
        width: 300px !important;
        padding-left: 20px;

        .filters-close-icon{
            display: block !important;
        }
    }
}

