*{
    font-family: 'Source Sans Pro', sans-serif;
    font-family: 'Baloo Bhaijaan 2', cursive;
    // font-family: 'Roboto', sans-serif;
    // font-family: 'Open Sans', sans-serif;
    color: $dark-text;
}

html{
    -webkit-font-smoothing: antialiased;

}


p,h1,a{
    margin: 0;
    padding: 0;
}
