.dropdown {
    .dropdown-menu {
        transition: all 0.5s;
        overflow: hidden;
        transform-origin: top center;
        transform: scale(1,0);
        display: block;
    }
    &:hover {
        .dropdown-menu {
            transform: scale(1);
        }
    }
}

.navbar{
    background-color: white;
    position: relative;

    .container{
        .navbar-brand{
            text-transform: uppercase;
            font-size: 32px;
            font-weight: 600;
            letter-spacing: 1px;
            font-family: 'Nunito Sans', sans-serif;
            color: rgb(30,30,30);
            span{
                color: $crvena;
            }
        }

        .sidebar{
            width: auto;
            position: initial;

            #logout-btn{
                color: rgb(80, 80, 80);
                background: none;
                border: none;
                outline: none;
            }

            .nav-item{
                .nav-link{
                    color: rgb(80, 80, 80);
                }
            }
        }

        .navbar-toggler-icon, .close-icon{
            display: none;
            width: 55px;
            height: 40px;
            border-radius: 0.3rem;
            border: 1px solid lightgray;
            position: absolute;
            top: 20px;
            right: 20px;
            z-index: 101;
            user-select: none;

            &:hover{
                cursor: pointer;
            }

            &:focus{
                outline: none;
            }
        }

        .close-icon{
            padding: 10px 15px;
            color: lightgray;
        }

        .navbar-toggler-icon{
            padding: 15px;
        }
    }
}

@media (max-width: 991px){
    .navbar{
        .container{
            padding: 0px 15px;
            
            .navbar-toggler-icon{
                display: block;
            }


            .sidebar{
                width: 0px;
                height: 100%;
                position: fixed;
                right: 0px;
                top: 0px;
                z-index: 100;
                background-color: rgb(30,30,30);
                text-align: center;
                overflow-x: hidden;
                transition: 0.2s;

                #logout-btn{
                    color: white;
                    width: 100%;
                }

                .navbar-nav{
                    margin-top: 100px;

                    .nav-item{
                        .nav-link{
                            color: white;
                            width: 100%;
                            font-weight: 500;
                            
                            &:hover{
                                background: rgba(200,200,200, 0.5);
                            }
                            
                        }
                    }
                }
            }

            .clicked{
                width: 300px;
            }

        }
    }
}