.dropdown {
    .dropdown-menu {
        transition: all 0.5s;
        overflow: hidden;
        transform-origin: top center;
        transform: scale(1,0);
        display: block;
    }
    &:hover {
        .dropdown-menu {
            transform: scale(1);
        }
    }
}

.navbar{
    .container{
        .navbar-brand{
            text-transform: uppercase;
            font-size: 32px;
            font-weight: 600;
            letter-spacing: 1px;
            font-family: 'Nunito Sans', sans-serif;
            span{
                color: $crvena;
            }
        }
    }
}

@media (max-width: 800px){

    //Collapse-box
    .navbar{
        #container-mobile{
            padding: 5px 0 10px !important;
            nav{
                ul{
                    li{
                        margin-bottom: 10px;
                        display: block;
                    }
                }
            }
        }
        .container{
            #nav-pc{
                display: none;
            }
            .menu-and-cart{
                #menu-icon{
                    display: inline-block;
                }
            }
        }
    }
}