.dropdown {
    .dropdown-menu {
        transition: all 0.5s;
        overflow: hidden;
        transform-origin: top center;
        transform: scale(1,0);
        display: block;
    }
    &:hover {
        .dropdown-menu {
            transform: scale(1);
        }
    }
}

.navbar{
    background-color: white;
    position: relative;
    .container{
        .navbar-brand{
            text-transform: uppercase;
            font-size: 32px;
            font-weight: 600;
            letter-spacing: 1px;
            font-family: 'Nunito Sans', sans-serif;
            color: rgb(30,30,30);
            span{
                color: $crvena;
            }
        }

        .navbar-toggler, .close-toggler{
            display: none;
            position: absolute;
            top: 20px;
            right: 20px;
            z-index: 101;

            &:focus{
                outline: none;
            }
        }

        .close-toggler{
            width: 53px;
            height: 38px;
            text-align: center;
            border-radius: 0.25rem;
            color: white;
            border: 1px solid gray;
            vertical-align: middle;
            padding: 0;
            

            .close-icon{
                width: 40%;
                height: 50%;


            }
            
        }

    }
}

@media (max-width: 991px){
    .navbar{
        .container{
            .navbar-toggler{
                display: block;
            }

            .sidebar{
                background-color: rgb(30,30,30);
                position: fixed;
                right: 0px;
                top: 0px;
                width: 0px;
                height: 100%;
                z-index: 100;
                text-align: center;
                overflow-x: hidden; //disable horiznotal scroll
                transition: 0.3s;

                .navbar-nav{
                    margin-top: 100px;

                    .nav-item{
                        .nav-link{
                            color: white;
                            width: 100%;
                            font-weight: 500;
                            
                            &:hover{
                                background: rgba(200,200,200, 0.5);
                            }
                            
                        }
                    }
                }
            }

            .clicked{
                width: 300px;
            }
        }
    }
}