.products{
    .section-title{
        margin-bottom: 15px;
        text-align: left;
    }

    .products-wrapper{
        display: grid;
        justify-content: space-between;
        row-gap: 50px;
        column-gap: 15px;
        grid-template-columns: repeat(auto-fit, 250px);

        a{
            transition: 0.2s;
            border: none;
            text-decoration: none;
            border: 1px solid white;
            height: 450px;

            &:hover{
                border: 1px solid black;
            }
        }

        .grid-item{
            color: rgb(80,80,80);
            

            .product-image{
                width: 100%;
                height: 340px;
            }

            .separator{
                height: 1px;
                width: 100%;
                background-color: black;
                border-radius: 5px;
                margin: 15px auto auto auto;
            }
    
            .product-info{
                margin-top: 15px;

                .product-name{
                    font-size: 18px;
                    font-weight: 400;
                    text-transform: capitalize;
                }
    
                .product-price{
                    font-size: 22px;
                    font-weight: 700;
                    color: rgb(64, 64, 190);
                }
            }

        } 
    }

    .grid-left-align{
        justify-content: left;
    }
}

@media (max-width: 1200px){
    .products-wrapper{
        grid-template-columns: repeat(auto-fit, 200px) !important;
        a{
            height: 363px !important;
        }

        .product-image{
            height: 275px !important;
        }
    }
            

}

@media (max-width: 767px){
    .products-wrapper{
        justify-content: space-between !important;
    }
}

@media (max-width: 465px){
    .products-wrapper{
        justify-content: center !important;
    }
}