.products{
    .filters-products-wrapper{
        width: 100%;
        display: flex;
    }
    
    .products-container{
        display: flex;
        justify-content: space-between;
        max-width: 100%;
        width: 100%;
        //margin-left: 20px;
    }

    .section-title{
        margin-bottom: 15px;
        text-align: left;
    }

    .products-wrapper{
        display: grid;
        justify-content: space-between;
        row-gap: 50px;
        column-gap: 15px;
        grid-template-columns: repeat(auto-fit, 200px) ;
        padding: 0 10px;
        width: 100% !important;

        a{
            transition: 0.2s;
            border: none;
            text-decoration: none;
            border: 1px solid white;
            height: 363px;

            &:hover{
                filter: brightness(85%);
                -webkit-filter: brightness(85%); 

            }
        }

        .grid-item{            
            .product-image{
                width: 100%;
                height: 275px;
            }

            .product-info{
                margin-top: 10px;
                margin-left: 5px;
                text-align: left;
                background-color: transparent;

                .product-name{
                    font-size: 14px;
                    font-weight: 400;
                    text-transform: capitalize;
                }
    
                .product-price{
                    font-size: 14px;
                    font-weight: 700;
                }
            }

        } 
    }

    .grid-left-align{
        justify-content: left;
    }
}

@media (min-width: 1500px){
            
}

@media (max-width: 1200px){


}

@media (max-width: 991px){
   .products-wrapper{
        grid-template-columns: repeat(auto-fit, 160px) !important;

        a{
            height: 290px !important;
        }

        .grid-item img{
            height: 220px !important;
        }
   }

}

@media (max-width: 767px){
    .products-wrapper{
        justify-content: space-between !important;
    }
}

@media (max-width: 465px){
    .products-wrapper{
        justify-content: center !important;
    }
}

