.product{

    .container{
        .product-wrapper{
            display: grid;
            grid-template-columns: 400px minmax(300px, 1fr);

            

            .product-image{
                width: 100%;
            }

            .product-details{
                padding: 20px;
                text-align: left;
                color: rgb(80,80,80);

                .name{
                    font-size: 28px;
                    font-weight: 900;
                    text-transform: uppercase;
                    margin-bottom: 10px;
                    letter-spacing: 1.5px;
                    
                }

                .code{
                    font-size: 18px;
                    font-weight: 300;
                    text-transform: capitalize;
                    margin-bottom: 30px;

                    span{
                        font-weight: 600;
                    }

                }

                .avaliability{
                    margin-bottom: 30px;
                    ul{
                        color: rgb(80, 80, 80);
                        list-style-type: none;
                        
                        #avaliable, #not-avaliable{
                            position: relative;
                            vertical-align: middle;
                            
                            &::before{
                                vertical-align: middle;
                                content: '';
                                display: inline-block;
                                width: 15px;
                                height: 15px;
                                background-size: 100%;
                                background-repeat: no-repeat;
                                margin-right: 7px;

                            }
                        }

                        #avaliable::before{
                            background-image: url('https://i.ibb.co/DwYg7BC/green-circle.png');

                        }

                        #not-avaliable::before{
                            background-image: url('https://i.ibb.co/qBV5kBC/red-circle.png');
                        }
                    }
                    
                }


                .price{
                    margin-bottom: 30px;

                    .store-price{
                        font-size: 18px;
                        text-decoration: line-through;
                    }
    
                    .online-price{
                        font-weight: 600;
                        font-size: 28px;
                        margin-top: 0;
                    }
                }

                .attribute-name{
                    text-transform: uppercase;
                    font-weight: 600;
                    font-size: 22px;
                    color: rgb(80, 80, 80);
                    margin-top: 30px;
                }

                .size{
                    width: 38px;
                    height: 38px;
                    padding: 5px;
                    border: 1px solid black;
                    display: inline-block;
                    vertical-align: middle;
                    text-align: center;
                    color: rgb(120, 120, 120);
                    margin-right: 30px;
                    margin-bottom: 20px;
                    transition: all 0.3s;

                    &:hover{
                         background: $crvena;
                         color: white;
                         cursor: pointer;
                    }

                    .size-symbol{
                        text-transform: uppercase;
                        font-weight: 900;
                        font-size: 16px;
                    }
                }

                .color{
                    width: 40px;
                    height: 40px;
                    display: inline-block;
                    margin-right: 30px;

                    &:hover{
                        cursor: pointer;
                    }
                }

                .black{
                    background: black;
                }

                .red{
                    background: $crvena;
                }

                .blue{
                    background: rgb(17, 17, 133);
                }
            }

            .product-description{
                margin-top: 40px;
                color: rgb(80,80,80);
                text-align: left; 
                width: 100%;

                h3{
                    font-weight: 700;
                    font-size: 20px;
                    text-transform: uppercase;
                }
            }

        }
    }
}

@media (max-width: 767px){
    .product-wrapper{
        justify-content: center;
        grid-template-columns: repeat(auto-fit, 300px) !important;
    }
}