.product{
    .container{
        .product-wrapper{
            display: grid;
            grid-template-columns: 400px minmax(300px, 1fr);

            .product-image{
                width: 100%;
            }

            .product-details{
                padding: 0 20px;
                text-align: left;

                .name{
                    font-size: 24px;
                    font-weight: 700;
                    text-transform: capitalize;
                }
                

                .code{
                    font-size: 16px;
                    font-weight: 300;
                    text-transform: capitalize;
                    margin-top: 10px;

                    span{
                        font-weight: 500;
                    }

                }

                .avaliability{
                    margin-top: 30px;

                    ul{
                        list-style-type: none;
                        padding: 0;

                        li{
                            color: gray;
                        }
                        
                        #avaliable, #not-avaliable{
                            position: relative;
                            display: flex;
                            align-items: center;
                            gap: 7px;
                            margin: 0;
                            
                            &::before{
                                content: '';
                                width: 15px;
                                height: 15px;
                                background-size: 100%;
                                background-repeat: no-repeat;
                            }
                        }

                        #avaliable::before{
                            background-image: url('https://i.ibb.co/DwYg7BC/green-circle.png');

                        }

                        #not-avaliable::before{
                            background-image: url('https://i.ibb.co/qBV5kBC/red-circle.png');
                        }
                    }
                    
                }

                .price{
                    margin-top: 30px;

                    .store-price{
                        font-size: 18px;
                        text-decoration: line-through;
                        font-weight: 700;
                    }
    
                    .online-price{
                        font-size: 22px;
                        margin-top: 0;
                        font-weight: 700;
                    }

                    p{
                        color: gray;
                    }
                }

                .attribute-name{
                    font-weight: 700;
                    font-size: 16px;
                    margin-top: 30px;
                }
            }
        }

        .sizes{
            margin-top: 30px;

            .sizes-wrapper{
                display: flex;
                gap: 15px;
    
                input{
                    appearance: none;
                    display: none;
                    margin: 0;
                }
    
                label{
                    margin: 0;
                    font-size: 14px;
                    font-weight: 500;
                    width: 30px;
                    height: 30px;
                    padding: 0;
                    border: 0.5px solid rgba(0,0,0,0.3);
                    display: flex;
                    justify-content: center;
                    align-items: center;
    
                    &:hover{
                        background: black;
                        color: white;
                        cursor: pointer;
                    }
                }
    
                .checked{
                    background: black;
                    color: white;
                }
               
                
            }
        }
        

        .colors{
            display: flex;
            align-items: center;
            gap: 10px;

            .color{
                height: 18px;
                width: 18px;
                -webkit-appearance: none;
                -moz-appearance: none;
                -o-appearance: none;
                appearance: none;
                border-radius: 100%;
                display: inline-block;
                outline: none;
                margin-bottom: 3px;
    
                &:hover{
                    cursor: pointer;
                }
    
                &:checked{
                    height: 22px;
                    width: 22px;
                }
            }
    
            .color-black{
                background-color: rgba(0,0,0);
            }
    
            .color-blue{
                background-color: rgba(0, 102, 204);
            }
    
            .color-red{
                background-color: rgb(255, 26, 26);
            }
        }

        .quantity{
            margin-top: 30px;
        }

        .product-description{
            text-align: left; 
            width: 100%;

            h3{
                font-weight: 700;
                font-size: 20px;
                text-transform: capitalize;
            }
        }
    }
}

@media (max-width: 767px){
    .product-wrapper{
        justify-content: center;
        grid-template-columns: repeat(auto-fit, 300px) !important;
    }
}