.fa-bars{
    display: none !important;
    font-size: 22px;
    cursor: pointer;
}

.sidebar-close-icon{
    display: flex !important;
    justify-content: center;
    font-size: 25px;
    background-color: rgba(0,0,0,0.8);
    color: white;
    width: 70px;
    padding-top: 350px;
    cursor: pointer;
}

.sidebar{    
    display: flex;
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    right: 0;
    transition: 0.3s;
    z-index: 505050;
    width: 0;
    overflow-x: hidden;
    flex-wrap: nowrap;
    max-width: 300px;
    box-shadow: 3px 0 10px -2px gray;

    .sidebar-wrapper{
        background-color: white;
        width: 100%;
        max-width: 400px;
        cursor: pointer;
        

        .sidebar-link-wrapper{
            width: 100%;
            display: block;

            .sidebar-link{
                display: inline-block;
                padding: 15px;
                color: black;
                font-weight: 500;
                font-size: 16px;
            }

            &:hover{
                background-color: black;

                .sidebar-link{
                    color: white;
                }
            }

            .small-link{
                font-size: 14px;
            }
        }

        .sing-in{
            padding: 15px;

            a{
                color: black;
                font-size: 16px;
                font-weight: 500;
                margin-left: 5px;
            }

            &:hover{
                i{
                    color: white;
                }

                a{
                    color: white;
                }
            }
        }

        .sidebar-category{
            display: none;
        }

        .sidebar-category-visible{
            display: block !important;
        }

        .category-toggled{
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: white;

            .category-wrapper{
                background-color: black;
                
                a{
                    color: white;
                }
            }

            a{
                text-transform: capitalize;
            }
        }

        .subcategory-toggled{
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background-color: white;

            .subcategory-wrapper{
                background-color: black;
                
                a{
                    color: white;
                }
            }
        }

        .sidebar-subcategories{
            display: none;
        }

        .sidebar-subcategories-visible{
            display: block !important;
        }


    }
    
}

.sidebar-opened{
    width: 100%;
}





@media (max-width: 991px){
    .fa-bars{
        display: block !important;
    }
}